body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: 0;
  margin-left: 0;
}

.main {
  width: 100%;
}

.navbar-dark .navbar-brand {
  font-family: 'Questrial', sans-serif;
  color: rgb(251, 255, 11);
}

.header {
  background-image: url(./assets/images/sunny.jpg);
  background-repeat: no-repeat;
  height: 60px;
}

.header-text {
  font-size: 40px;
  color:rgb(255, 251, 29);
}

.search-main {
  background-color: white;
  height: 50px;
}

.search-container {
  background-color: transparent;
  height: 45px;
  margin:auto;
}

.search-opt {
  justify-content: center;
}

.search-bar {
  margin: auto;
}

.search-btn {
  background-color: transparent;
  color: black;
  border: 1px solid black;
  outline: none;
}

.search-btn:hover {
  background-color: transparent;
  color: black;
  border: 1px solid black;
  transform: scale(1.03)
}

.search-btn:focus {
  background-color: transparent;
}

.search-city-text {
  width: 20%;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(138, 138, 138);
}

.display-col {
  justify-content: center;
  margin: 150px auto 0 auto;
}

.display-col h3 {
  margin: 20px auto 0 auto;
  justify-content: center;
}

.Clear {
  background-image: url(./assets/images/clear.jpg);
  background-repeat: no-repeat;
  border-radius: 20px;
}

.Clouds {
  background-image: url(./assets/images/clouds.jpg);
  background-repeat: no-repeat;
  border-radius: 20px;
}

.Rain {
  background-image: url(./assets/images/rain.jpg);
  background-repeat: no-repeat;
  border-radius: 20px;
}

.Mist {
  background-image: url(./assets/images/mist.jpg);
  background-repeat: no-repeat;
  border-radius: 20px;
}

.card {
  margin: auto;
  border: none;
  background-color: transparent;
}

.weather-card {
  background-color: transparent;
  color: rgb(255, 255, 255);
  text-shadow: 2px 1px #000000;
}


.list-group-item {
  background-color: transparent;
  color: white;
  text-shadow: 2px 1px #000000;
}

.add-container {
  justify-content: center;
  margin-left: auto;
  margin-top: 11px;
}

.addtofavorites-icon {
  height: 40px;
  width: 40px;
  color:rgb(251, 255, 11);
  justify-content: end;
}

.addtofavorites-icon:hover {
  color:rgb(0, 228, 141);
  justify-content: end;
  transform: scale(1.05);
}

.signin-form {
  margin: auto;
  margin-top: 100px;
}

.user-dropdown {
  justify-content: center;
  width: 30%;
  margin: auto;
}

.user-icon {
  height: 30px;
  width: 30px;
  color: black;
}

.dropdown-toggle:after {
  color: black;
}

.favorites-section {
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: center;
  border-radius: 20px;
  padding-top: 2px;
  padding-bottom: 7px;
}

.favorites-card {
    margin-top: 3px;
    height: 70px;
    border: 1px solid black;
    border-radius: 18px;
}

.favorite-city {
  margin-top: auto;
  color: white;
  text-shadow: 2px 1px #000000;
  font-size: 20px;
  font-weight: bold;
}

.card-text:first-child {
  margin-bottom: auto;
  margin-top: auto;
}

.card-text:nth-child(2){
  margin-bottom: auto;
  margin-top: auto;
}

.favorite-temp {
  margin-top: auto;
  color: white;
}

.minus-icon {
  color: rgb(238, 0, 0);
  height: 25px;
  width: 25px;
  justify-content: end;
}

.minus-icon:hover{
  transform: scale(1.06);
  color: rgb(206, 0, 0);
}

.card-text:last-child {
  margin-bottom: auto;
  margin-top: auto;
}